*{
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image:url(/images/banner.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0;
}

.skills-padding{
    padding: 70px 0;
}